<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" type="image/png" href="{{ site.url }}/img/{{ site.favicon }}" >
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% for meta in site.data.meta %}
  <meta name="{{ meta.name }}" content="{{ meta.content }}" />
  {% endfor %}

  <!-- CSS files -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/tailwind.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
