{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="fixed object-left text-right h-screen w-64 bg-black text-gray-200">
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="image of {{ author.name }}" class="w-64 h-64" />
  {% endif %}
  <a href="{{ site.url }}/" class="m-4 -mb-4 text-6xl font-semibold text-primary hover:underline block">{{ author.name }}</a>
  <span class="mx-2 text-l font-semibold italic text-secondary block">{{ author.job }}</span>
  <br />
  <span class="mx-3 block">{{ author.bio }}</span>
  <br />
  <span class="mx-4 text-2xl font-bold text-primary block">Contact</span>
  {% include social-links.html %}
</div>
